{% extends './layout.html' %}
{% block main %}

    <p>
    	<a class="btn btn-primary" href="/products/add"> Add a Product </a>
    </p>
	{% for product in inventory %}
		<li class="list-group-item">
			{{product.name}}
			<a class="btn btn-default pull-right" href="/products/{{product.id}}/edit"> Edit </a>
			<form style="display:inline" method="POST" action="/trash/{{product.id}}?_method=DELETE">
			<button class="btn btn-danger pull-right" style="margin-right:5px"> Delete </button>
			</form>
		<br clear="both">
		</li>
	{% endfor %}
	</ul>

{% endblock %}